@charset "UTF-8";

/* 
    em HTML é id    = em CSS é # (só pode um elemento em cada documento)
    em HTML é class = em CSS é . (pode vários elementos)

*/


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(133, 247, 143);
}

h1 {
    color: rgb(0, 63, 6);
}

h1#principal {
    text-align: center;
    background-color: rgb(0, 92, 9);
    color: white;
}

h2 {
    color: rgb(0, 78, 0);
}

.basico {
    color: rgb(34, 121, 34);
}

.intermediario {
    color: rgb(141, 141, 0);
}

.avancado {
    color: rgb(182, 0, 0);
}

.destaque {
    background-color: rgba(0, 0, 0, 0.479);
}